*{
    box-sizing: border-box;
    font-weight: bold;
}

body{
    background-color: rgb(72, 5, 135);
    min-height: 90vh;
    display: flex;
    justify-content: center;
}
#todoapp{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 41rem;
    margin: auto;
    min-height: 300px;
    border-radius: .5em;
    padding: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#input{
    border: 0px;
    width: 540px;
    height: 50px;
    border-bottom: 2px solid black;
    border-radius: .3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;

}

#input-container{
    display: flex;
}
#container{
    
    border-radius: .5em;

}
#plus{
    padding-left: 2%;
}
.task-list{
    margin-top: 2%;
    height: 50px;
    align-items: center;
    display: flex;
    background-color: rgb(142, 135, 135);
    border-radius: .2em;

    
}
button{
   
    cursor: pointer;
    border: 0px;
}
.list{
    width: 90%;
    padding: 2%;
}
.edit-btn{
    height: 100%;
    width: 50px;
    background-color: rgb(9, 95, 2);
}
.del-btn{
    height: 100%;
    width: 50px;
    background-color: red;
   
}
